{% extends "base.html" %}

{% block section %}

    {% comment %} <a href="{% url 'edit_profile' user.pk %}"  >
      <button class="btn btn-outline-success me-2" type="submit">
         Edit Profile
      </button>
      </a>
<!-- this is user to ceate thought(post) -->
    <a href="{% url 'create-thought' %}" > 
      <button class="btn btn-outline-success me-2" type="submit" >
        Create thought 
      </button>
      </a> </button>
  <!-- end ceate thought(post) -->   {% endcomment %}

  <!-- display user detail -->  
  <section class="vh-100" style="background-color: #9de2ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                  {% comment %} {% for detail in detail %}
                    {% if detail %}
                <img src="{{ detail.image.url }}"
                  alt="Generic placeholder image" class="img-fluid"
                  style="width: 180px; border-radius: 10px;"/>
                    {% endif %}
                  {% endfor %} {% endcomment %}
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1">{{ user.username }}</h5>
                <p class="mb-2 pb-1" style="color: #2b2a2a;">Email : {{ user.email }}</p>
                  {% for detail in detail %}
                    {% if detail %}
                <p class="mb-2 pb-1" style="color: #2b2a2a;">Bio : {{ detail.bio }}</p>
                <p class="mb-2 pb-1" style="color: #2b2a2a;">DOB : {{ detail.date_of_birth }}</p>
                <p class="mb-2 pb-1" style="color: #2b2a2a;">Phone : {{ detail.phone }}</p>
                <p class="mb-2 pb-1" style="color: #2b2a2a;">city : {{ detail.city }}</p>
                    {% endif %}
                  {% endfor %}
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                  style="background-color: #efefef;">
                  <div>
                    <p class="small text-muted mb-1">Articles</p>
                    <p class="mb-0">{{ user.articles_count }}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Followers</p>
                    <p class="mb-0">{{ user.followers_count }}</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">Rating</p>
                    <p class="mb-0">{{ user.rating }}</p>
                  </div>
                </div>
                <div class="d-flex">
                   </a>
                  <a href="{% url 'create-thought' %}" > 
                  <button type="button" class="btn btn-outline-primary flex-grow-1">Create Post</button>
                </a>
                  <a href="{% url 'edit_profile' user.pk %}"  >
                  <button type="button" class="btn btn-outline-primary mx-1 flex-grow-1">Update Profile</button>
                 
                <a href="/delete-profile/{{user.pk}}" class="btn btn-outline-primary" >Delete Account</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% comment %} <p>User name: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
{% for detail in detail %}
{% if detail %}
    <p>Bio: {{ detail.bio }}</p>
    <p>Date of Birth: {{ detail.date_of_birth }}</p>
    <p>Phone: {{ detail.phone }}</p>
    <p>City: {{ detail.city }}</p>
{% endif %}
{% endfor %} {% endcomment %}
  <!-- end user deetail -->  




  <!-- Display User Thoughts -->
  <div>
    <h2 class="m-3 text-center ">My Posts</h2>
    {% for thought in thought %}
          <div class="card" style="width: 30%; margin-bottom: 1rem; margin-left: auto; margin-right: auto; border: 2px solid green; ">
            <img src="{{ thought.image.url }}" class="card-img-top" alt="{{ thought.title }}" style=" height: 18rem; padding-bottom: 0.3rem; ">
              <div class="card-body">
                {% comment %} <p class="card-text">User : {{ thought.user.username }}</p> {% endcomment %}
                <h5 class="card-title">{{ thought.title }}</h5>
                <h5 class="card-title">{{ thought.text }}</h5>
                <p class="card-text">{{ thought.date_time }}</p>
                <a href="{% url 'update-thought' thought.pk %}" class="btn btn-primary" style="color: black;" >
                <i class="fa-solid fa-file-pen"></i></a> 
                <a href="{% url 'delete-thought' thought.pk %}" class="btn btn-primary" style="color: black;" >
                <i class="fa-solid fa-trash"></i></a> 
              </div>
          </div>
    {% endfor %}
  </div>
  <!--end Display User Thoughts -->



{% endblock section %}