<form method="post">{% csrf_token %}
    {{ updatethought.user }}
    {{ updatethought.title }}

    <div class="form-group">
      <label for="{{ form.title.id_for_label }}">Title:</label>
      {{ form.title }}
    </div>
    <div class="form-group">
      <label for="{{ form.text.id_for_label }}">Detail:</label>
      <textarea name="text" id="{{ form.text.id_for_label }}" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="{{ form.is_private.id_for_label }}" name="{{ form.is_private.name }}">
      <label class="form-check-label" for="{{ form.is_private.id_for_label }}">Is Private</label>
    </div>
    <button type="submit" class="btn btn-primary">Create Thought</button>

</form>