<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<!-- thought_detail.html -->

    {% extends "base.html" %}
    <h1>thought details</h1>

{% block section %}
  {% comment %} <h1>{{ thought.title }}</h1>
  <p>Posted by: {{ thought.user.username }} on {{ thought.date_time }}</p>
  <img src="{{ thought.image.url }}" alt="{{ thought.title }}">
  <p>{{ thought.content }}</p> {% endcomment %}
  <!-- Add any additional details you want to display -->
  <div class="card" style="width: 18rem; margin-bottom: 1rem;">
  <div class="card-body">
    <h5 class="card-title">{{ thought.title }}</h5>
    <p class="card-text">Posted by: {{ thought.user.username }} on {{ thought.date_time }} </p>
    <p class="card-text">{{ thought.content }}</p>
    <img src="{{ thought.image.url }}" class="card-img-top" alt="{{ thought.title }}">
  </div>
 

<form method="post" action="{% url 'thought_detail' thought_id=thought.id %}">
    {% csrf_token %}
    <button type="submit" name="like_button">
        {% if is_liked %}
            Unlike
        {% else %}
            Like
        {% endif %}
    </button>
     <p>Likes: {{ like_count }}</p>
</form>

{% for c in comment %}
    <p>{{ c.user.username }}: {{ c.text }}</p>
{% endfor %}

<!-- New Comment Form -->
<form method="post" action="{% url 'thought_detail' thought_id=thought.id %}">
    {% csrf_token %}
    <input type="text" name="text" placeholder="Add a comment">
    <button type="submit">Add Comment</button>
</form>

<!-- Display new comment if any -->
{% if new_comment %}
    <p>New Comment: {{ new_comment.user.username }}: {{ new_comment.text }}</p>
{% endif %}


</div>
{% endblock section %}




</body>
</html>